@keyframes wrong {
    0% {
        transform: scaleX(2);
    }
    25% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(2);
    }
}

.animate-wrong {
    animation: wrong 1s ease-in-out infinite;
}



.wrong{
    animation-name: wrong;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}